<div class="card w-25">
    <div class="card-header centradora">
      Confirmación
    </div>
    <div class="card-body centradora">
      <div class="card-title">
        Se borrará el CSL. Confirma esta acción?
      </div>
        <button class="btn btn-primary btn-sm mx-2" (click)="onYes()">Sí</button>
        <button class = "btn btn-primary btn-sm" (click)="onNo()">No</button>
    </div>
    <div class="card-footer centradora">
      CLS Gestión
    </div>
  </div>

<!-- <button type="button" class="btn btn-primary" (click)="open()">Abrir modal</button>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Título del modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Contenido del modal
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div> -->



